<!DOCTYPE html>
<html>

<head>
    <title>Webex Teams integration sample</title>
    <meta charset="utf-8">
</head>

<body>
    <div>
        <h1>OAuth Integration examples for Webex Teams</h1>
        <a href="/next/server_side"><button>Server-Side</button></a>
        <a href="/next/oauth_client"><button>Client-Side</button></a>
        <a href="/next/browser_sdk"><button>Browser SDK</button></a>
        <a href="/next/widget"><button>Widget</button></a>
        <a href="/next/refresh"><button <%= disabled %>>Refresh Token</button></a>
        <a href="/logout"><button <%= disabled %>>Logout</button></a>
    </div>
</body>

</html>