<!DOCTYPE html>
<html>

<head>
    <title>Webex Teams Integration (Refresh token)</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
</head>

<body>
    <div id="content">
        <h1>OAuth integration example: access token refreshed</h1>
        <p>Previous expiration timestamp: <b><%= previousTimeStamp %></b></p>
        <p>New expiration timestamp: <b><%= newTimeStamp %></b></p>
    </div>
    <div style="display: block;">
        <a href="/"><button>Main menu</button></a>
    </div>
</body>

</html>