<!DOCTYPE html>
<html>

<head>
    <title>Webex Teams Integration (Server-Side)</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
</head>

<body>
    <div id="content">
        <h1>OAuth integration example: authenticated</h1>
        <p>Happy to meet you:
            <b><%= displayName %></b></p>
    </div>
    <div style="display: block;">
        <a href="/"><button>Main menu</button></a>
    </div>
</body>

</html>