<!DOCTYPE html>
<html>

<head>
    <title>>Cisco Webex Teams Integration (Widget)</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="https://code.s4d.io/widget-space/production/main.css">
</head>

<body>
    <h1>OAuth Integration example: Space Widget</h1>

    <div class="webexteams-widget"
        style="width: 750px; height: 500px; display: block;"
        data-toggle="webex-space"
        data-initial-activity="message"
        data-access-token="<%= token %>"
        data-destination-id="<%= targetEmail %>"
        data-destination-type="email" ></div>

    <br>
    <div style="display: block;">
        <a href="/"><button>Main menu</button></a>
    </div>

    <script src="https://code.s4d.io/widget-space/production/bundle.js"></script>

</body>

</html>